# Google Sheets Configuration
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/1JJ00gvTNb2erjoQKSkwW3stGz0u3FRKstl1tyy76RpE/edit?gid=0#gid=0
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SERVICE_ACCOUNT_FILE=service-account.json
SHEET_NAME=Pagamentos

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
